.definition-tooltip {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.definition-tooltip:hover {
  color: #a2e436;
}


.definition-tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  background-color: #a2e436;
  color: black;
  min-width: 6rem;
  padding: 0.6rem 0.9rem;
  position: fixed; /* lets it follow cursor without clipping */
  z-index: 1;
  border-radius: 0.6rem;
  transform: translate(-25%, -100%) scale(1);
  box-shadow: 0 5px 14px rgba(0,0,0,0.12);



}


/*theme toggle*/
.quarto-navbar-tools {
  width: 36px;
  height: 36px;
}
a.quarto-color-scheme-toggle.quarto-navigation-tool.px-1 {
}


/* Make the toggle fill the entire container */
.quarto-navbar-tools .quarto-color-scheme-toggle {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Resize the Bootstrap icon if needed */
.quarto-navbar-tools .quarto-color-scheme-toggle i.bi {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;

}

.quarto-color-scheme-toggle:not(.alternate) .bi::before {
  background-image: url('images/toggle2-day-alt.svg') !important;
  background-size: 100% 100%; /* Scales the background image */
  color: black;
  
  width: 100%;
  height: 100%;

}

body.quarto-dark .quarto-color-scheme-toggle > .bi::before {
  background-image: url('images/toggle2-dark.svg') !important;
  background-size: 100% 100%; /* Scales the background image */
  color: black;
  
  width: 100%;
  height: 100%;

}